@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");


/* ESTILOS PARA LA PAGINA DE TURNOS */

.form-style-btn {
  background-color: rgb(54, 168, 140);
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 6px 10px;
  width: 20%;
  width: 20%;
  font-size: 20px;
  
  
}



.form-style {
  width: 70%;
  border: solid 1px rgb(54, 168, 140);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 5px 4px 4px rgb(54, 168, 140);
  background-color: white;
  font-family: 'Nunito', cursive;
 
}

.form-style-title {
  font-weight: bolder;
  font-size: 70px;
  font-family: 'Nunito', cursive;
  padding: 25px;
  
}



