
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Permanent+Marker&display=swap');


.letra-nav{
    font-family: 'Nunito';
    font-weight: bold;
    
   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}