.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #0e0c0c ;
    letter-spacing: 5px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    

    }
    
    .btn-neon:hover {
        background: #a945c7; 
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
        transition-delay: 1s;
    }

    .animación{
        text-align: center;
        margin-top: 6px;
        font-family: sans-serif;
        font-size: 30px;
    }

    h1{
        font-weight: 100;
        color: rgb(36, 141, 106);
        display: inline-block;
    }

    .text1{
        animation: bounce1 .5s alternate infinite ease-in;
    }
    
    .text2{
        animation: bounce2 .5s alternate infinite ease-in;
    }
    
    .text3{
        animation: bounce3 .5s alternate infinite ease-in;
    }
  
    @keyframes bounce1 {
        0%{
            transform: translateX(-40%);

        }
        100%{
            transform: translateX(0%);
        }

    }
    @keyframes bounce2 {
        0%{
            transform: translateX(-180%);

        }
        100%{
            transform: translateX(0%);
        }

    }

    @keyframes bounce3 {
        0%{
            transform: translateX(40%);

        }
        100%{
            transform: translateX(-10%);
        }

    }
  