@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

/* Imagenes */
.logo {
  height: 10vh;
}

.img-carousel {
  object-fit: cover;
  height: 70vh;
}

.img-profesionales {
  object-fit: cover;
  width: 40vh;
  height: 40vh;
}

/* Colores */
.color-navbar {
  background-color: #ffe3b3 !important;
}

/* ESTILOS PARA FORMULARIOS DE ADMIN */
.form_style_t {
  width: 70%;
  border: solid 1px #ffc872;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 20px 4px 4px #ffc872;

  background-color: #ffe3b3;
  font-family: "Nunito", sans-serif;
}

.btn-save {
    background-color: #7280ff;

    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 6px 10px;
    width: 20%;
    font-size: 20px;
    box-shadow: 2px 2px 10px #7280ff;
}

.btn-save:hover{
    color: #000000;
    width: 100%;
    transition: 1s;
}

.form-style-title {
    
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    
    border: none;
    color: white;
    border-radius: 20px;
    
    padding: 25px;
    background-color: #31b189;
}

@media (max-width: 576px)  { 

    .form_style_t{
        width: 95%;
        box-shadow: none;
    }
    .form-style-title{
        font-size: 30px;
    }
    .btn-save{
        width: 100%;
    }
 }