/* Imagenes */
.logo{
    height: 10vh;
}

.img-carousel{
    object-fit: cover;
    height: 70vh;
}

.img-profesionales{
    object-fit: cover;
    width: 45vh;
    height: 45vh;
}

/* Colores */
.color-navbar{
    background-color: #ffe3b3!important;
}